html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Monesta";
  src: url("../public/fonts/monesta.otf") format("opentype");
}

@keyframes rotateGradient {
  0% {
    --gradient-deg: 0deg;
  }
  100% {
    --gradient-deg: 360deg;
  }
}